spring:
  application:
    name: crmsystem

  datasource:
    url: jdbc:postgresql://localhost:5432/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

#  flyway:
#    enabled: true
#    baseline-on-migrate: true
#    locations: classpath:db/migration
#
#logging:
#  level:
#    org.flywaydb: DEBUG